
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}
.app{
  margin: 50px;
  display: flex;
  justify-content: center;
  
}
.todo-app{
  max-width: 250px;

}
.create-todo{
  padding: 15px;
}
.newTodoLabel
{
  
  
}
.newTodoInput{
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}
.submitSection
{
  padding: 5px;
  
  display: flex;
  justify-content: center;
}
.newTodoSubmit{
  
  font-size: 16px;
  padding: 5px 10px;
}
.todo-list{
  padding: 30px;
}
.todo-item{
  margin-top: 10px;
}
.todo-text{
  margin-left: 5px;
  padding: 5px;  
  font-size: 16px;
}
.todo-text::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  margin-top: -10px;
  background: black;
  transition:  width 1000ms linear;
}


.checked .todo-text{
  text-decoration:black solid line-through ;
}

.checked .todo-text::after {
  width: 100%;
}


.todoInputSection{
  display: flex;
  flex-direction:column;
  padding: 15px;
}

